.titre {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    & img{
        height: 4em;
    }
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}