body{

    h1 {
        align-items: center;
        justify-content: center;
        padding : 70px;
    }

    ul {
        .Teckel_bulles_patoune {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            Teckel_bulles {

                grid-column: 1;
                grid-row: 1;
                align-items: center;
                justify-content: center;

            h2 {
                grid-column: 2;
                grid-row: 1;
                align-items: center;
                justify-content: center;

                img {
                    grid-column: 2;
                    grid-row: 1;
                    align-items: center;
                    justify-content: center;

                }
            }

            ul {
                grid-column: 2;
                grid-row: 2;
                align-items: center;
                justify-content: center;
                align-items: center;
                justify-content: center;

                Baignoire_de_Patoune {
                    grid-column: 2;
                    grid-row: 3;
                }
            }
        }
    }

    ul {
        .text_2 {
            background-color: yellow;
            display: grid;
            grid-template-columns: repeat(2,1fr);


            Chat_dans_sa_serviette {
                display: grid;
                grid-column: 2;
                grid-row: 1;
                align-items: center;
                justify-content: center;
            }
        }

    }
}
