section#news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    gap: 50px;
}

section#news div.container{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
}

section#news div.container article{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 350px;
    padding: 10px;
    border-radius: 20px;
}

section#news div.container article h2:after{
    content: " :";
}

section#news div.container article p.date{
    display: flex;
    justify-content: end;
    margin: 0;
    margin-top: auto;
}

img.bullet{
    width: 100px;
}section#news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    gap: 50px;
}

section#news div.container{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
}

section#news div.container article{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 350px;
    padding: 10px;
    border-radius: 20px;
}

section#news div.container article h2:after{
    content: " :";
}

section#news div.container article p.date{
    display: flex;
    justify-content: end;
    margin: 0;
    margin-top: auto;
}

img.bullet{
    width: 100px;
}section#news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    gap: 50px;
}

section#news div.container{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
}

section#news div.container article{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 350px;
    padding: 10px;
    border-radius: 20px;
}

section#news div.container article h2:after{
    content: " :";
}

section#news div.container article p.date{
    display: flex;
    justify-content: end;
    margin: 0;
    margin-top: auto;
}

img.bullet{
    width: 100px;
}section#news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    gap: 50px;
}

section#news div.container{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

section#news div.container article{
    display: flex;
    flex-direction: column;
    background-color: $Contrast-Medium;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}

section#news div.container article h2:after{
    content: " :";
}

section#news div.container article p.date{
    display: flex;
    justify-content: end;
    margin: 0;
    margin-top: auto;
}

img.bullet{
    width: 80px;
}