body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a:visited,a:link{
    text-decoration: none;
}

*{
    transition-duration: .3s;
    scroll-behavior: smooth;
}