main#galerie{
    div#title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        & img{
            height: 200px;
            rotate: (20deg)
        }
    }

    & div#container-1{
        display: flex;
        justify-content: space-between;
    }

    & div#container-2 iframe{
        display: flex;
        margin: 0 auto;
        width: 100%;
        height: 600px;
        aspect-ratio: 1/2;
    }

    & div#container-3 table{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        & td{
            padding: 5px 10px;
            border-bottom: 1px solid $Main-Dark;
            
        }
    }

    fieldset{
        display: flex;
        flex-direction: column;
        border: 10px solid $Main-Dark;
        align-items: start;
        gap: 25px;
        margin: 30px 100px;
        border-radius: 30px;
        padding: 25px;
        & .combined-form{
            display: flex;
            gap: 25px;
        }
        & div.form-group{
            display: flex;
            flex-direction: column;
            gap: 5px;
            &.small input, &.small textarea{
                width: 100px;
            }
            &.medium input, &.medium textarea{
                width: 200px;
            }
            &.big input, &.big textarea{
                width: 300px;
            }
            & input, textarea{
                padding: 3px 10px;
                border-radius: 10px;
                border: 2px solid $Main-Dark;
                min-height: 2em;
                resize: vertical;
            }
            & label.required:after{
                content: "*";
            }
            & div#reservation_animal{
                display: flex;
                gap: 10px;
            }
        }
    }
}

button{
    margin-left: 100px;
    border: $Main-Dark 2px solid;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
    background-color: $Main-Light;
    }
}