{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}
{% block body %}

<div>
    <h1>Tout le tralala d'avant....</h1>

    <section id="reservation">
        <form action="#" method="post">
            <fieldset>
                <legend>Informations Générales</legend>
                <label for="proprio">Nom du propriétaire :</label>
                <input type="text" id="proprio" name="proprio" required>
                <label for="tel">Téléphone :</label>
                <input type="tel" id="tel" name="tel" required>
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" required>
                <!--A voir pour automatiser l'adresse, la ville et le code postal-->
                <label for="adresse">Adresse :</label>
                <input type="text" id="adresse" name="adresse" autocomplete="off" required>
                <label for="cp">Code postal :</label>
                <input type="number" id="cp" name="cp" minlength="5" maxlength="5" required>
                <label for="ville">Ville :</label>
                <input type="text" id="ville" name="ville" required>
            </fieldset>
            <fieldset>
                <legend>Informations de l’animal</legend>
                <label for="nomAnimal">Nom de l’animal :</label>
                <input type="text" id="nomAnimal" name="nomAnimal">
                <p>Type d’animal :</p>
                <label>
                    <input type="radio" name="typeAnimal" value="chien" required>
                    Chien
                </label>
                <label>
                    <input type="radio" name="typeAnimal" value="chat">
                    Chat
                </label>
                <label>
                    <input type="radio" name="typeAnimal" value="autre">
                    Autre
                </label>
                <input type="text" name="typeAnimal_autre" placeholder="Préciser si autre">

                <label for="race">Race :</label>
                <select id="race" name="race">
                    <option value="">Sélectionner une race</option>
                    <option value="labrador">Labrador</option>
                    <option value="berger">Berger</option>
                    <option value="europeen">Chat Européen</option>
                    <option value="autre">Autre</option>
                </select>
                <input type="text" name="race_autre" placeholder="Préciser si autre">

                <label for="comportement">Comportement de l’animal :</label>
                <textarea id="comportement" name="comportement" rows="4"></textarea>
            </fieldset>

            <!-- Réservation -->
            <fieldset>
                <legend>Réservation</legend>

                <p id="duree-message">
                    Le temps du créneau dépendra de la race de l’animal.
                </p>

                <label for="creneau">Créneau :</label>
                <input type="date" id="creneau" name="creneau" required>

                <button type="submit">Réserver</button>
            </fieldset>

        </form>

    </section>

</div>
{% endblock %}
