body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a:visited, a:link {
  text-decoration: none;
}

* {
  transition-duration: 0.3s;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFAF4;
  color: #521C0D;
  font-family: arial;
}

a:visited, a:link {
  font-weight: bold;
  color: #521C0D;
}

h1.title {
  align-items: center;
  justify-content: center;
  padding: 70px;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 100px;
  justify-content: end;
  height: 75px;
  background-color: #521C0D;
}
header img {
  position: absolute;
  top: 10px;
  left: 100px;
  height: 115px;
}
header nav {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 75%;
}
header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 18px;
  padding: 15px;
  background-color: #FFFAF4;
  border-radius: 10px;
}
header nav a:hover {
  background-color: #FF9B45;
}

main {
  padding: 50px 100px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #521C0D;
  margin-top: auto;
  flex-wrap: wrap;
  padding: 20px;
  color: #FFFAF4;
}
footer > div.footer-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}
footer > div.footer-container h1 {
  padding: 0;
}
footer > div.footer-container > div {
  color: #521C0D;
  display: flex;
  flex-direction: column;
  background-color: #FFFAF4;
  padding: 20px;
  border-radius: 20px;
}
footer > div.footer-container > div ul {
  list-style: none;
}
footer > div.footer-container > div ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
footer > div.footer-container:nth-child(1) .footer-info {
  width: 105px;
}
footer > div.footer-container:nth-child(3) .footer-info {
  width: 75px;
}
footer > div.footer-container > img {
  height: 350px;
  margin: auto 0;
}

main#home div.container {
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
  line-height: 1.5em;
}
main#home div.container > img {
  flex: 1;
  margin: 0 auto;
}
main#home div.container > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
main#home div.container > div h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main#home img#home-truck {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

h1 {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}
h1 img {
  height: 5em;
}

section#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
}

section#news div.container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

section#news div.container article {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 350px;
  padding: 10px;
  border-radius: 20px;
}

section#news div.container article h2:after {
  content: " :";
}

section#news div.container article p.date {
  display: flex;
  justify-content: end;
  margin: 0;
  margin-top: auto;
}

img.bullet {
  width: 100px;
}

section#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
}

section#news div.container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

section#news div.container article {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 350px;
  padding: 10px;
  border-radius: 20px;
}

section#news div.container article h2:after {
  content: " :";
}

section#news div.container article p.date {
  display: flex;
  justify-content: end;
  margin: 0;
  margin-top: auto;
}

img.bullet {
  width: 100px;
}

section#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
}

section#news div.container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

section#news div.container article {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 350px;
  padding: 10px;
  border-radius: 20px;
}

section#news div.container article h2:after {
  content: " :";
}

section#news div.container article p.date {
  display: flex;
  justify-content: end;
  margin: 0;
  margin-top: auto;
}

img.bullet {
  width: 100px;
}

section#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
}

section#news div.container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

section#news div.container article {
  display: flex;
  flex-direction: column;
  background-color: #ADE3F2;
  width: 300px;
  padding: 10px;
  border-radius: 20px;
}

section#news div.container article h2:after {
  content: " :";
}

section#news div.container article p.date {
  display: flex;
  justify-content: end;
  margin: 0;
  margin-top: auto;
}

img.bullet {
  width: 80px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 10px solid #521C0D;
  align-items: start;
  gap: 25px;
  margin: 30px 100px;
  border-radius: 30px;
  padding: 25px;
}
fieldset div.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
fieldset div.form-group.small {
  width: 150px;
}
fieldset div.form-group.medium {
  width: 200px;
}
fieldset div.form-group.big {
  width: 300px;
}
fieldset div.form-group input, fieldset div.form-group textarea {
  padding: 3px 10px;
  border-radius: 10px;
  border: 2px solid #521C0D;
  min-height: 2em;
  resize: vertical;
}
fieldset div.form-group label.required:after {
  content: "*";
}
fieldset div.form-group div#reservation_animal {
  display: flex;
  gap: 10px;
}

/*# sourceMappingURL=app.css.map */
