body {
  margin: 0;
}

a:visited, a:link {
  text-decoration: none;
}

body {
  background-color: #FFFAF4;
  color: #521C0D;
  font-family: arial;
}

a:visited, a:link {
  font-weight: bold;
  color: #521C0D;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 100px;
  justify-content: end;
  height: 75px;
  background-color: #521C0D;
}
header img {
  position: absolute;
  top: 10px;
  left: 100px;
  height: 115px;
}
header nav {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 75%;
}
header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 18px;
  padding: 15px;
  background-color: #FFFAF4;
  border-radius: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}
h1 img {
  height: 5em;
}

section#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
}

section#news div.container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

section#news div.container article {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 350px;
  padding: 10px;
  border-radius: 20px;
}

section#news div.container article h2:after {
  content: " :";
}

section#news div.container article p.date {
  display: flex;
  justify-content: end;
  margin: 0;
  margin-top: auto;
}

img.bullet {
  width: 100px;
}

section#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
}

section#news div.container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

section#news div.container article {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 350px;
  padding: 10px;
  border-radius: 20px;
}

section#news div.container article h2:after {
  content: " :";
}

section#news div.container article p.date {
  display: flex;
  justify-content: end;
  margin: 0;
  margin-top: auto;
}

img.bullet {
  width: 100px;
}

section#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
}

section#news div.container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

section#news div.container article {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 350px;
  padding: 10px;
  border-radius: 20px;
}

section#news div.container article h2:after {
  content: " :";
}

section#news div.container article p.date {
  display: flex;
  justify-content: end;
  margin: 0;
  margin-top: auto;
}

img.bullet {
  width: 100px;
}

section#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
}

section#news div.container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

section#news div.container article {
  display: flex;
  flex-direction: column;
  background-color: #ADE3F2;
  width: 300px;
  padding: 10px;
  border-radius: 20px;
}

section#news div.container article h2:after {
  content: " :";
}

section#news div.container article p.date {
  display: flex;
  justify-content: end;
  margin: 0;
  margin-top: auto;
}

img.bullet {
  width: 80px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 10px solid #521C0D;
  align-items: start;
  gap: 25px;
  margin: 30px 100px;
  border-radius: 30px;
  padding: 25px;
}
fieldset div.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
fieldset div.form-group.small {
  width: 150px;
}
fieldset div.form-group.medium {
  width: 200px;
}
fieldset div.form-group.big {
  width: 300px;
}
fieldset div.form-group input, fieldset div.form-group textarea {
  padding: 3px 10px;
  border-radius: 10px;
  border: 2px solid #521C0D;
  min-height: 2em;
  resize: vertical;
}
fieldset div.form-group label.required:after {
  content: "*";
}
fieldset div.form-group div#reservation_animal {
  display: flex;
  gap: 10px;
}

/*# sourceMappingURL=app.css.map */
